.button-container{
	display: flex;
    position: relative;
	flex-direction: column;
    transition: all 0.2s, visibility 0.2s;    
  
}
.button{
    display: inline-block;
	border: none;
	color: #000;
	font-weight: bolder;
	font-family: Barlow;
    width: 100%;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	background: #FFF;
    transition: all 0.2s, visibility 0.2s;    

    margin-bottom: 0;
}
.tooltip {
	position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    transition: all 0.2s, visibility 0.2s;    


}
.tooltip-content {
    width: max-content;
    padding: 5px;
    background-color:#000;
    color: #FFF;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.5s;
    font-size:16px;
    visibility: hidden;
    transition: all 0.2s, visibility 0.2s;    
    z-index: 1;
}
.arrow{
    opacity: 0;
    visibility: hidden;
    margin-bottom: 0;
    transition: all 0.2s, visibility 0.2s;    

}
.tooltip:hover + .arrow + .tooltip-content,
.tooltip-content:hover {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s, visibility 0.2s;    

}
.tooltip:hover + .arrow,
.arrow:hover{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s, visibility 0.2s;    


}